.prose {
  max-width: 65ch;
  font-size: 0.9375rem;
  line-height: 1.75;
}

.prose [class~='lead'] {
  color: var(--c-text-secondary);
  font-size: 1.125em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose ol[type='A'] { --list-counter-style: upper-alpha; }
.prose ol[type='a'] { --list-counter-style: lower-alpha; }
.prose ol[type='I'] { --list-counter-style: upper-roman; }
.prose ol[type='i'] { --list-counter-style: lower-roman; }
.prose ol[type='1'] { --list-counter-style: decimal; }

.prose ol > li::before {
  content: counter(list-item, var(--list-counter-style, decimal)) '.';
  position: absolute;
  left: 0;
}

.prose ul > li::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 0.35em;
}

.prose code::before,
.prose code::after {
  content: none;
}

.prose pre code::before,
.prose pre code::after {
  content: none;
}

.prose figure figcaption {
  text-align: center;
}

.prose h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.prose h2 + * { margin-top: 0; }
.prose h3 + * { margin-top: 0; }
.prose h4 + * { margin-top: 0; }
.prose hr + * { margin-top: 0; }

.prose > :first-child { margin-top: 0; }
.prose > :last-child { margin-bottom: 0; }

.prose table {
  border-collapse: collapse;
}
